@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.google.com/icons?icon.style=Outlined');
@import "tailwindcss";


@theme {
    --color-fondo: #f7f7f7;
    --color-lila: #99adda;

    --font-monserrat: "Monserrat", sans-serif;
}


body {
    background-color: #f7f7f7;
    font-family: var(--font-monserrat);
    margin: 0;

    display: flex;
    flex-direction: column;
}